<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>meetings</servlet-name>
        <servlet-class>Controladores.meetings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>objectsofevents</servlet-name>
        <servlet-class>Controladores.objectsofevents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roleandaddres</servlet-name>
        <servlet-class>Controladores.roleandaddres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tasks</servlet-name>
        <servlet-class>Controladores.tasks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taskshistory</servlet-name>
        <servlet-class>Controladores.taskshistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tasksofgroup</servlet-name>
        <servlet-class>Controladores.tasksofgroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>Controladores.users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validate</servlet-name>
        <servlet-class>Controladores.validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>events</servlet-name>
        <servlet-class>Controladores.events</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>messages</servlet-name>
        <servlet-class>Controladores.messages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allindex</servlet-name>
        <servlet-class>Controladores.allindex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>meetings</servlet-name>
        <url-pattern>/meetings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>objectsofevents</servlet-name>
        <url-pattern>/objectsofevents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roleandaddres</servlet-name>
        <url-pattern>/roleandaddres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tasks</servlet-name>
        <url-pattern>/tasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taskshistory</servlet-name>
        <url-pattern>/taskshistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tasksofgroup</servlet-name>
        <url-pattern>/tasksofgroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validate</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>events</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>messages</servlet-name>
        <url-pattern>/messages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allindex</servlet-name>
        <url-pattern>/allindex</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--  Clave de correo -->
    <env-entry> 
        <description>passwordemail</description>
        <env-entry-name>passcorreo</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>A19961015o</env-entry-value> 
    </env-entry>
    <!-- correo elctronico -->
    <env-entry> 
        <description>email</description>
        <env-entry-name>correo</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>gestorwooclic@gmail.com</env-entry-value> 
    </env-entry>
</web-app>
